
body{
/*	display: grid;
	justify-items:center;
	text-align: center;*/
	background-color: #15171A;
	/*width:500px;
	height: 1000px;
	width:500px;*/
	
	 /*blur effect */
	  /*filter: blur(8px);
	  -webkit-filter: blur(8px);*/
}
fieldset{
	display: grid;
	background-color: #0a191e;
	justify-items : center;
	width: 600px;
	font-family: "Comic Sans MS";
	font-size: 30px;
	color: #4a9878;
	text-align: center;
	margin: auto;
	border-style:solid;
	border-color:#4a9878;
	-moz-border-radius:7px;  
	border-radius: 7px;  
	-webkit-border-radius: 7px;
}
#up{
	color : #4a9878;
	text-shadow: 1px 1px 2px #ffffff;
	font-family: Roboto, BlinkMacSystemFont,
				"Segoe UI", "Helvetica Neue", Arial,
				sans-serif, "Apple Color Emoji",
				"Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-size: 42px;
	
}
#ceiv{
	box-shadow: 1px 1px 1px #ffffff;
	border-radius: 25px;
	border : 3px solid #ddd;
	/*need to add shadow to this image*/
	}

.grid{
	display: grid;
	justify-items : center;
	text-align: left;
    color: #DAE4ED;
	font-family:"Comic Sans MS",Candara;
	text-shadow: 2px 2px 8px #000000;
	color: white;
	font-size: 15px;
}
	
.social_links{
	text-align: center;
	margin-left:70px;
}

#fb{
/*	box-shadow: 2px 2px 8px #000000;*/
	width: 50px;
	height: 50px;
}
#yt{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px
}
#gh{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}
#bh{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}
#fb_page{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}
#insta{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}
#fiverr{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}
#sl{
/*	box-shadow: 2px 2px 8px #000000;*/
	width:50px;
	height: 50px

}



